<footer class="footer">
  <small>
    GraphBug by <a href="http://www.inf.ufpr.br/phcs09/">Pedro Henrique Sá</a>
  </small>
  <nav>
    <ul>
      <li><%= link_to "About",   about_path %></li>
      <li><%= link_to "Contact", contact_path %></li>
      <li><a href="http://news.railstutorial.org/">News</a></li>
    </ul>
  </nav>
</footer>
