<canvas 
onmousemove="findIt(event)" onclick="findClick(event)" id="myCanvas" 
width="320" height="320" style="border:1px solid #d3d3FF;" >
</canvas>
<p> 			
	<button  id = "criaVertice" onclick="operaVertice()">Create Vertex</button> 
	<button  id = "criaAresta" onclick="operaAresta()">Create Edge</button>
	<button  id = "criarGrafo" onclick="mostrarGrafo()">Verify current graph</button>				
</p>

<%= form_for(@micropost,:html=>{:content=>"f.text_area",:onsubmit=>"return geraTextField(str); "})  do |f| %>
  <%= render 'shared/error_messages', object: f.object %>

  <div class="field" hidden="true">
    	
    <%= f.text_area(:content)   %> 	
	
  </div>

  <%= f.submit "Store Graph", class: "btn btn-primary" %>
<% end %>
