<% if logged_in? %>
  <div class="row">
    <aside class="col-md-4">
      <section class="user_info">
        <%= render 'shared/user_info' %>
      </section>
      <section class="micropost_form">
        <%= render 'shared/micropost_form' %>
      </section>
    </aside>
    <div class="col-md-8">
      <h3>Graph Posts Feed</h3>
      <%= render 'shared/feed' %>
    </div>
  </div>
<% else %>
  <div class="center jumbotron">
    <h1>Welcome to the GraphBug</h1>

    <h2>
      GraphBug is an APP Network that Users can create and store Graph's information.
	  This APP was developed using 
      <a href="http://www.railstutorial.org/">Ruby on Rails Tutorial</a>
	  during the class lessons 
	  <a href="http://www.inf.ufpr.br/bmuller/">Tópicos em programação de computadores</a>
	  and
  	  <a href="http://www.inf.ufpr.br/andre/Disciplinas/BSc/CI084-CI811-2015-1/">Tópicos em Teoria dos Grafos</a>.
    </h2>

    <%= link_to "Sign up now!", signup_path, class: "btn btn-lg btn-primary" %>
  </div>

  <%= link_to image_tag("rails.png", alt: "Rails logo"),
              'http://rubyonrails.org/' %>
<% end %>

